@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #6eb0ec;
  --text-dark: #111827;
  --text-light: #6b7280;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Raleway", sans-serif;
}

nav {
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem 1rem;
  border-bottom: 1px solid var(--text-light);
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.nav__logo div {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
}

.nav__socials {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav__socials a {
  padding: 5px 7px;
  font-size: 1.5rem;
  color: var(--text-dark);
  background-color: #efeaee;
  border-radius: 100%;
}

.nav__socials a:hover {
  color: var(--white);
  background-color: var(--text-light);
}

.nav__contact {
  display: flex;
  gap: 1rem;
}

.nav__contact__card {
  display: flex;
  gap: 0.5rem;
}

.nav__contact__card span {
  font-size: 2rem;
  color: var(--primary-color);
}

.nav__contact__card p {
  font-size: 0.9rem;
  color: var(--text-light);
}

.nav__contact__card h4 {
  font-size: 1rem;
  color: var(--text-dark);
}

.header__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: grid;
  gap: 2rem;
  text-align: center;
}

.header__container h1 {
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 1rem;
}

.header__container h1 span {
  color: var(--primary-color);
}

.header__container p {
  margin-bottom: 2rem;
  line-height: 1.75rem;
}

.header__container form {
  background-color: #f6f4f7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.input__row {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.input__group {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.input__group input,
.input__group select {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

.header__container button {
  padding: 1rem 2rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
}

.header__container button:hover {
  background-color: #5a9ad1;
}

@media (width > 768px) {
  nav {
    flex-direction: row;
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__container form {
    flex-direction: row;
    align-items: center;
  }
}
